In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Data.csv')

In [3]:
len(dataset)

428

In [4]:
dataset.head()

    Make Origin DriveTrain  Invoice  EngineSize  Horsepower
0  Acura   Asia        All  33337.0         3.5         265
1  Acura   Asia      Front  21761.0         2.0         200
2  Acura   Asia      Front  24647.0         2.4         200
3  Acura   Asia      Front  30299.0         3.2         270
4  Acura   Asia      Front  39014.0         3.5         225

In [5]:
dataset.describe()

             Invoice  EngineSize  Horsepower
count     428.000000  428.000000  428.000000
mean    30014.700935    3.196729  215.885514
std     17642.117750    1.108595   71.836032
min      9875.000000    1.300000   73.000000
25%     18866.000000    2.375000  165.000000
50%     25294.500000    3.000000  210.000000
75%     35710.250000    3.900000  255.000000
max    173560.000000    8.300000  500.000000

In [6]:
print(dataset['Make'].unique())
print(dataset['Origin'].unique())
print(dataset['DriveTrain'].unique())

['Acura' 'Audi' 'BMW' 'Buick' 'Cadillac' 'Chevrolet' 'Chrysler' 'Dodge'
 'Ford' 'GMC' 'Honda' 'Hummer' 'Hyundai' 'Infiniti' 'Isuzu' 'Jaguar'
 'Jeep' 'Kia' 'Land Rover' 'Lexus' 'Lincoln' 'MINI' 'Mazda'
 'Mercedes-Benz' 'Mercury' 'Mitsubishi' 'Nissan' 'Oldsmobile' 'Pontiac'
 'Porsche' 'Saab' 'Saturn' 'Scion' 'Subaru' 'Suzuki' 'Toyota' 'Volkswagen'
 'Volvo']
['Asia' 'Europe' 'USA']
['All' 'Front' 'Rear']

In [10]:
data_encoded =dataset.replace({
    'Origin' : {'Asia':0,'Europe':1,'USA':2 },
    'DriveTrain' : {'All':0,'Front':1,'Rear':2}
})
data_encoded.head()

    Make  Origin  DriveTrain  Invoice  EngineSize  Horsepower
0  Acura       0           0  33337.0         3.5         265
1  Acura       0           1  21761.0         2.0         200
2  Acura       0           1  24647.0         2.4         200
3  Acura       0           1  30299.0         3.2         270
4  Acura       0           1  39014.0         3.5         225

In [11]:
dataset_encoded2 = pd.get_dummies(data_encoded)
dataset_encoded2.head()

,Origin,DriveTrain,Invoice,EngineSize,Horsepower,Make_Acura,Make_Audi,Make_BMW,Make_Buick,Make_Cadillac,...,Make_Pontiac,Make_Porsche,Make_Saab,Make_Saturn,Make_Scion,Make_Subaru,Make_Suzuki,Make_Toyota,Make_Volkswagen,Make_Volvo
0,0,0,33337.0,3.5,265,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,1,21761.0,2.0,200,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,1,24647.0,2.4,200,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,1,30299.0,3.2,270,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,1,39014.0,3.5,225,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
dataset_encoded2.head()

,Origin,DriveTrain,Invoice,EngineSize,Horsepower,Make_Acura,Make_Audi,Make_BMW,Make_Buick,Make_Cadillac,...,Make_Pontiac,Make_Porsche,Make_Saab,Make_Saturn,Make_Scion,Make_Subaru,Make_Suzuki,Make_Toyota,Make_Volkswagen,Make_Volvo
0,0,0,33337.0,3.5,265,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,1,21761.0,2.0,200,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,1,24647.0,2.4,200,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,1,30299.0,3.2,270,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,1,39014.0,3.5,225,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
dataset = pd.read_csv('Data.csv')
X = dataset_encoded2.iloc[:, :-1].values
y = dataset_encoded2.iloc[:, -1].values

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 878)

In [15]:
print(X_train)

[[0 1 25972.0 ... False False False]
 [1 2 37548.0 ... False False False]
 [2 0 36287.0 ... False False False]
 ...
 [2 1 20748.0 ... False False False]
 [1 0 31388.0 ... False False False]
 [2 1 24172.0 ... False False False]]

In [16]:
print(X_test)

[[1 2 68306.0 ... False False False]
 [2 1 13904.0 ... False False False]
 [0 0 18253.0 ... False False False]
 ...
 [1 2 50270.0 ... False False False]
 [2 1 17512.0 ... False False False]
 [2 1 36927.0 ... False False False]]

In [17]:
print(y_train)
print(y_test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 9)
X_train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 878)
X_train

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False  True
 False False False False False False False False False  True False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False  True False False False False False
 False False False False False  True False  True False False False False
  True False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False  True False False False False False
 False False False False False False False False False False False False
 False False False False False False  True False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False  True False False False False]
[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False  True False False False False False False
 False False False False False False False False False False False False
 False False False False False False  True False False  True False False
 False False]

array([[0, 1, 25972.0, ..., False, False, False],
       [1, 2, 37548.0, ..., False, False, False],
       [2, 0, 36287.0, ..., False, False, False],
       ...,
       [2, 1, 20748.0, ..., False, False, False],
       [1, 0, 31388.0, ..., False, False, False],
       [2, 1, 24172.0, ..., False, False, False]], dtype=object)

In [18]:
from sklearn.preprocessing import StandardScaler
Sc=StandardScaler()
X_train[:,3:] =Sc.fit_transform(X_train[:,3:])
X_test[:,3:] =Sc.transform(X_test[:,3:])
print(X_train)
print(X_test)

[[0 1 25972.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]
 [1 2 37548.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]
 [2 0 36287.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]
 ...
 [2 1 20748.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]
 [1 0 31388.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]
 [2 1 24172.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]]
[[1 2 68306.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]
 [2 1 13904.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]
 [0 0 18253.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]
 ...
 [1 2 50270.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]
 [2 1 17512.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]
 [2 1 36927.0 ... -0.13363062095621217 -0.22870874995874615
  -0.20659846763533413]]

In [19]:
dataset_encoded2.head(10)

,Origin,DriveTrain,Invoice,EngineSize,Horsepower,Make_Acura,Make_Audi,Make_BMW,Make_Buick,Make_Cadillac,...,Make_Pontiac,Make_Porsche,Make_Saab,Make_Saturn,Make_Scion,Make_Subaru,Make_Suzuki,Make_Toyota,Make_Volkswagen,Make_Volvo
0,0,0,33337.0,3.5,265,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,1,21761.0,2.0,200,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,1,24647.0,2.4,200,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,1,30299.0,3.2,270,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,1,39014.0,3.5,225,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,0,1,41100.0,3.5,225,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,0,2,79978.0,3.2,290,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,1,1,23508.0,1.8,170,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,1,1,32506.0,1.8,170,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,1,1,28846.0,3.0,220,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False